header {
  text-align: center;
  color: white;
  background-color: #222831;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

main {
  background-color: #31363F;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.City {
  background-color: rgba(219, 0, 204, 0.208);
  border: 1px solid grey;
  width: 75%;
  height: auto;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
}

.City img {
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 200px;
  border-radius: 10px;
}

.movieDay {
  padding: 1rem;
  margin-top: 1rem;
}

.title {
  font-weight: bold;
}

.movieImg {
  margin-bottom: 1rem;
}